/* Error: Undefined variable.
 *     ,
 * 100 |         @media (max-width: $xsm) {
 *     |                            ^^^^
 *     '
 *   src\scss\abstracts\_mixins.scss 100:28  responsive()
 *   src\scss\components\_nav.scss 16:5      @use
 *   src\main.scss 7:1                       root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a     \2577 \a 100 \2502          @media (max-width: $xsm) {\d\a     \2502                             ^^^^\a     \2575 \a   src\\scss\\abstracts\\_mixins.scss 100:28  responsive()\a   src\\scss\\components\\_nav.scss 16:5      @use\a   src\\main.scss 7:1                       root stylesheet";
}
